aclocal.m4
autom4te.cache
compile


./src/*
!./src/*.c
!./src/*.h
!./src/Makefile.am
./cores/*
!./cores/*.c
!./cores/*.h
!./cores/Makefile.am
./drivers/*
!./drivers/*.c
!./drivers/*.h
!./drivers/Makefile.am
m4
install-sh
libtool
ltmain.sh
missing
Makefile
Makefile.in
config.*
!config.h
configure*
!configure.ac
depcomp
aclocal.m4
