.deps/
.libs/

aclocal.m4
autom4te.cache/
compile
config.*
!config.h
configure*
!configure.ac
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
Makefile
Makefile.in
src/aws
src/awsd
src/serial
src/seriald
src/telescope
src/telescoped
stamp-h1

*.la
*.lo
*.o
