.deps/
.libs/

aclocal.m4
autom4te.cache/
compile
conf/
confdefs.h
config.*
!config.h
configure*
!configure.ac
conftest*
depcomp
fromgitlab.sh
install-sh
libtool
ltmain.sh
man/
m4/
mics/lockfile
mics/cnsleep
mics/scheduler_admin
mics/scheduler_protocol_test
mics/waitpid
missing
Makefile
Makefile.in
src/aws
src/awsd
src/pdu
src/pdud
src/scheduler
src/schedulerd
src/serial
src/seriald
src/telescope
src/telescoped
src/thermal
src/thermald
stamp-h1
test/
togithub.sh
togitlab.sh
.vscode/

*.la
*.lo
*.o

aaos-*.tar.gz

.DS_Store 
