[Unit]
Description=RS232/422/485 serial device daemon of AAOS

[Service]
Type=forking
ExecStart=/opt/aaos/sbin/seriald -c /opt/aaos/etc/seriald.cfg start
ExecStop=/opt/aaos/sbin/seriald -c /opt/aaos/etc/seriald.cfg stop
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
